$font-color: #545149;

article {
  border-color: $font-color;
  border-width: 4px;
  border-style: solid;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  border-bottom: 1vh solid $font-color;
  padding-bottom: 5vh;
  margin-bottom: 0px;
  font-weight: bold;
}

.user-id {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  padding: 1em 1em 0em 1em;
  font-weight: bold;
}

#icon {
  padding-right: 1vw;
}

#handle {
  display: flex;
  align-items: center;
  color: 	#C0C0C0;
  font-weight: bold;
}

article:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  color: #d3d3d3;
}


.symbols {
  display: flex;
  width: 4em;
  justify-content: space-between;
}

.fa-retweet:hover {
  color: #D68910;
}

.fa-flag:hover {
  color: #770737
}

.fa-heart:hover {
  color: lightpink;
}