@import '_variables';

nav {
  @include flex-theme;
  height: 120px;
  background-color: #4056A1;
  color: $white-font;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: flex-end;
  position: fixed;
  .logo {
    font-family: $secondary-font;
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  #newTweetSection {
    display: flex;
    flex-direction: column;
    #tweetButton {
      display: flex;
      color: #D21404;
      padding-right: 3em;
      padding-bottom: .5em;
      align-self: flex-end;
    }
  }
}