@import '_variables';

#tweet-text {
  width: 100%;
  background-color: $background-color;
  border-width: 0px 0px 5px 0px;
  margin-bottom: .5em;
  margin-top: .5em;
}

.below-input {
  @include flex-theme;
  font-family: $secondary-font;
  padding-bottom: 2em;

  button {
    background-color: #4056A1;
    color: #FFFFFF;
  }
}