article {
  border-color: #545149;
  border-width: 4px;
  border-style: solid;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
article p {
  border-bottom: 1vh solid;
  padding-bottom: 5vh;
  margin-bottom: 0px;
  font-weight: bold;
}
article .user-id {
  display: flex;
  justify-content: space-between;
}
article .user-id .user {
  display: flex;
  align-items: center;
}
article .user-id #icon {
  padding-right: 1vw;
}
article .user-id #handle {
  display: flex;
  align-items: center;
  color: #C0C0C0;
  font-weight: bold;
}
article .tweet-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  padding: 1em 1em 0em 1em;
  font-weight: bold;
}
article .tweet-info .symbols {
  display: flex;
  width: 4em;
  justify-content: space-between;
}

article:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  color: #d3d3d3;
}

.fa-retweet:hover {
  color: #D68910;
}

.fa-flag:hover {
  color: #770737;
}

.fa-heart:hover {
  color: lightpink;
}
