#container {
  border-color: #545149;
  border-width: 4px;
  border-style: solid;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.all-tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.user {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.all-tweets article {
  display: flex;
  border-bottom: 5px solid #545149;
  height: 4em;
  align-items: center;
  font-weight: bold;
  pointer-events: none;
}

.all-tweets footer {
  display: flex;
  justify-content: space-between;
  font-size: .5em;
  padding-top: 1em;
  pointer-events: none;
}

.all-tweets h3 {
  margin: 0px;
  padding-left: 10px;
}

#container:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  color: #d3d3d3
}

.handle {
  color: #d3d3d3;
  font-weight: bold;
}

.username {
  font-weight: lighter;
}