.validation {
  /* border: 5px solid yellow; */
  color: #D63301;
	background-color: #FFCCBA;
  display: inline;
  margin-bottom: .5em;
  font: bold;
  /* background-image: url('https://i.imgur.com/GnyDvKN.png'); */
}