
header {
  display: inline-flex;
  width: 100%;
  height: 520px;
  align-items: center;
  flex-direction: column;
  background-color: #B8860B;
  background-image: url("../images/45-degree-fabric-light.png");
}

.profPic {
  padding-top: 120px;
}

.profileName {
  margin-top: 0px;
  margin-bottom: 0px;
}
